@import (optional) "inc/fonts.less";
@import "inc/mixins.less";
@import "inc/vars.less";

// ELEMENTS STANDARD
// =================

body {
	font-size: 62.5%;
	font-family: @font-1;
	position: relative;
	background-color: @color-bg;
}