// Fontawesome
@import "../node_modules/@fortawesome/fontawesome-free/less/fontawesome.less";
@import "../node_modules/@fortawesome/fontawesome-free/less/solid.less";
@import "../node_modules/@fortawesome/fontawesome-free/less/brands.less";

// Includes
@import (optional) "inc/fonts.less";
@import "inc/lodel.less";
@import "inc/mixins.less";
@import "inc/vars.less";

// ELEMENTS STANDARD
// =================

html {
	font-size: 62.5%; // https://snook.ca/archives/html_and_css/font-size-with-rem
	font-family: @font-1;
}

body {
	background-color: @color-bg;
	position: relative;
	.font-size(1.8);
}

// LAYOUT
// ======

.main-header {
	text-align: center;
	margin: 50px auto;
}

.main-footer {
	text-align: center;
	margin-top: 50px;
	.font-size(1.4);
}

.main-footer__line {
	margin: 6px 0;
}

// NAV
// ===

.skip-to-content {
	display: none;
}

// PUBLICATIONS
// ============

.accroche__img {
	max-width: 100%;
}

// INCLUSION DES STYLES DE PERSONNALISATION
// IMPORTANT : ne rien ajouter après cette ligne.
// ==============================================
@import (optional) "custom.less";