// ===========================
// MIXINS LESS
// /!\ Ce fichier ne devrait jamais être modifié directement. Les styles et variables personnalisés doivent être déclarés dans le fichier less/custom.less.
// ===========================

// Inclusion de webfont depuis le répertoire public/fonts.
// Compatible avec les polices de https://google-webfonts-helper.herokuapp.com
// Exemple d'utilisation :
// .include-font('Noto Sans', noto-sans-v27-latin-700italic, italic, 700);
.include-font(@font-family, @filename, @style: normal, @weight: 400) {
  @font-family-e: e(@font-family);
  /* @font-family-e @style @weight */
  @font-face {
    font-family: '@{font-family-e}';
    font-style: @style;
    font-weight: @weight;
    src: url('@{webfontsDir}/@{filename}.eot'); /* IE9 Compat Modes */
    src: local(''),
      url('@{webfontsDir}/@{filename}.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
      url('@{webfontsDir}/@{filename}.woff2') format('woff2'), /* Super Modern Browsers */
      url('@{webfontsDir}/@{filename}.woff') format('woff'), /* Modern Browsers */
      url('@{webfontsDir}/@{filename}.ttf') format('truetype') /* Safari, Android, iOS */
  }
}

// Fonction de définition des font-size.
// Exemples d'utilisation :
// .font-size(xs);
// .font-size(1.4);
.font-size(@size-arg) {
  @size-value: if(isnumber(@size-arg), @size-arg, @sizes[@@size-arg]);
  @factorized-value: @size-value * @size-factor;
  @rem-value: @factorized-value;
  @px-value: (@factorized-value * 10);
  font-size: ~"@{px-value}px"; // old browsers
  font-size: ~"@{rem-value}rem";
}

// Numérotation des paragraphes
@numbered-left-padding: 40px;
.numbered() {
  @media (min-width : 576px) {
    & {
      counter-reset: p; // Set the p counter to 0
      position: relative;
      padding-left: @numbered-left-padding;
    }

    & > p.texte {
      position: relative;
      counter-increment: p; // Increment the p counter
    }

    & > p.texte:before {
      content: counter(p); // Display the counter
      position: absolute;
      left: -(@numbered-left-padding - 5);
      font-size: .8em;
      line-height: 2;
      color: @color-grey-d5;
      font-family: @font-default;
    }

    & > ul.texte, & > ol.texte {
      padding-left: 50px;
    }
  }
}

// Affichage de la langue (badge).
.lang() {
  &[lang]::after {
    content: ' [' attr(lang) '] ';
    font-size: 80%;
    color: @color-grey-d4;
    font-style: normal;
    font-family: @font-default;
  }
}

// Crochets des appels de notes
.note-brackets() {
  &::before {
    content: "[";
    color: @color-grey-d5;
  }

  &::after {
    content: "]";
    color: @color-grey-d5;
  }
}
