// Fonts

@font-1: Verdana, "DejaVu Sans", "Bitstream Vera Sans", Geneva, sans-serif;
@font-2: Ubuntu, "DejaVu Sans", "Bitstream Vera Sans", Geneva, sans-serif;
@font-mono: "Courier New", Courier, "Liberation Mono", monospace;

// Colors
@color-1: #c00;
@color-bg: #fff;

// Breakpoints
@screen-xs: 480px;
@screen-sm: 768px;
@screen-md: 992px;
@screen-lg: 1200px;
