// Fonts

@font-1: Verdana, "DejaVu Sans", "Bitstream Vera Sans", Geneva, sans-serif;
@font-2: Ubuntu, "DejaVu Sans", "Bitstream Vera Sans", Geneva, sans-serif;
@font-mono: "Courier New", Courier, "Liberation Mono", monospace;

// Colors
@color-1: #000;
@color-2: #00365f;//bleu foncé
@color-3: #e0a126;//orange
@color-4: #dee2e6; //gris
@color-5: #bbb; //gris foncé
@color-6: #777; //gris tres foncé

@color-bg: #ccc;
@color-bg-1: #fff;
@color-bg-2: #f2f2f2;
@color-bg-3: #dfdfdf;

// Breakpoints
@screen-xs: 480px;
@screen-sm: 768px;
@screen-md: 992px;
@screen-lg: 1200px;
